@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-cr-beige font-comic-neue font-semibold text-cr-brown;
    }
}

@layer components {
    .title {
        @apply rounded-t-lg px-4 font-shrikhand font-normal text-xl text-cr-brown text-outline-white;
    }
    .text-outline-white {
        text-shadow:
            -1px -1px 0 white,  
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    }
    .text-outline-brown {
        text-shadow:
            -1px -1px 0 #745952,  
            1px -1px 0 #745952,
            -1px 1px 0 #745952,
            1px 1px 0 #745952;
    }
}

/*
.v-enter-active,
.v-leave-active {
    height: 100px;
    transition: height 0.5s ease;
    overflow: hidden;
}

.v-enter-from,
.v-leave-to {    
    height: 0px;
    transition: height 0.5s ease;
    overflow: hidden;
}
*/