@import url('https://fonts.googleapis.com/css?family=Shrikhand');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    hl {
        @apply underline font-semibold;
    }
}

.v-enter-active,
.v-leave-active {
    height: 100px;
    transition: height 0.5s ease;
    overflow: hidden;
}

.v-enter-from,
.v-leave-to {    
    height: 0px;
    transition: height 0.5s ease;
    overflow: hidden;
}